<div class="container">
    <div class="col-md-12">
        <h3 class="text-center"> Upadte phone</h3>
        <div class="form-group">
            <input type="text" [(ngModel)]=" phoneData.id" class="form-control">
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="phoneData.name " class="form-control">
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="phoneData.desc " class="form-control">
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="phoneData.price " class="form-control">
        </div>

        <div class="form-group">
            <input type="text" [(ngModel)]="phoneData.update " class="form-control">
        </div>

        <div class="form-group">
            <button class="btn btn-outline-primary btn-md btn-block" (click)="updatePhone()">Update Phone</button>
        </div>

    </div>
</div>